@model IEnumerable<Product>

<h2>Products</h2>

<div style="display: block">
    <a href="/Product/InsertProduct/">Create a New Product</a>
</div>

<table class="table">
    <tr>
        <th>idproduct</th>
        <th>productcode</th>
        <th>productname</th>
        <th>finishcode ID</th>
        <th>stylecode</th>
        <th>shapecode</th>
        <th>typecode</th>
        <th>price</th>
    </tr>

    @foreach (var product in @Model)
    {
        <tr>
            <td><a href=/Product/ViewProduct/@product.idproduct>@product.idproduct</a></td>
            <td>@product.productcode</td>
            <td>@product.productname</td>
            <td>@product.finishcode</td>
            <td>@product.stylecode</td>
            <td>@product.shapecode</td>
            <td>@product.typecode</td>
            <td>@product.price</td>
        </tr>
    }

</table>

